.grid-section-6 {
    flex-wrap: nowrap;
}

.logo-formulario {
    width: 121px;
    height: 148px;
}

.logo-gobierno {
    width: 514px;
    height: 101px;
}

// .custom-card{
//     border-radius: 3px;
//     border: 0!important;
//     box-shadow: 2px 2px 6px #0000004f;
//     background: white;
// }